Flask>=3.0.0
Flask-CORS>=4.0.0
Flask-SQLAlchemy>=3.1.0
SQLAlchemy>=2.0.0
Werkzeug>=3.0.0
python-dotenv>=1.0.0
opencv-python<5.0.0
numpy<2.0.0
Pillow>=11.0.0
onnxruntime>=1.19.0
scikit-image>=0.24.0
insightface==0.7.3
ultralytics>=8.0.0

qrcode>=7.4.2
pillow>=10.0.0
